@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lilita One", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

html {
  overflow: hidden;
  overscroll-behavior: none;
}

.shake {
  animation: shake 0.1s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
